.p-grid{
    max-height: 100vh !important;
    max-width: 100vw !important;
}

.menu{
    width: 18vw;
    overflow: hidden !important;
}

.container{
    width: 80vw;
    max-height: 100vh;
    overflow-y: scroll !important;
    overflow-x: hidden;
    padding: 90px !important;
}

// .p-col-fixed {
//     max-width: 300px !important;
// }

@media (max-width:940px){
   
    .p-grid{
        max-height: unset !important;
        max-width: unset !important;
        overflow: unset;
    }
    
    .menu{
        display: none;
    }

  }
